---
title: Frequently Asked Bass Raft Questions
layout: content
---

{% for q in site.data.faq %}
  <div class="row">
    <div class="col d-flex exerpt justify-content-between align-items-center" 
      data-bs-toggle="collapse" href="#answer-{{ forloop.index }}"
                                onclick="togglePlusMinus('plus-{{ forloop.index }}')">
        <span class="faq-question text-uppercase">{{ q.question }}</span>
        <span class="ml-auto" id="plus-{{ forloop.index }}">+</span>
    </div>
    <hr/>
  </div>
  <div class="row">
    <div class="col">
      <div class="faq-answer collapse text-start" id="answer-{{ forloop.index }}">
        {{ q.answer }}
        <hr/>
      </div>
    </div>
  </div>
{% endfor %}

<br/>
<br/>
<br/>
{% include components/section.html name="contact" section_style="light" section_fit="true" %}

