---
title: The latest Bass Raft news and opinions
layout: content
---

{% for post in site.posts %}
  <div>
    <p class="fs-6">{{ post.date | date: "%B %d, %Y" }} posted by {{ post.author }}</p>
    <h2>{{ post.title }}</h2>
    {% if post.image %}
      <br/>
      <img class="post-image" src="{{ post.image }}" alt="Post image"/>
      <br/>
    {% endif %}
    <p>
      {{ post.excerpt | strip_html }} 
      <br/>
      <a class="fs-6" href="{{ post.url }}"> ...read more</a>
    </p>
    <br/>
    <hr/>
  </div>
{% endfor %}
