<div class="container p-lg-5 p-4">
  <p/>
  <h2>Small beginnings...</h2>
  <p>
  Bass Raft comes to you via an upstart father and son team of Wisconsin fisherman with a different vision for kayak fishing.
  We've built a mashup of bass boat deck and kayak, a super lightweight and stable platform designed
  so you can fish all day standing up.
  </p>

  <p>
  A Sunday afternoon conversation about composite construction turned into an obsession to build the best 
  fishing platform the world has ever seen.  If you forget that you are NOT on the deck of a boat, 
  lightly cruising around a lake, through shallows, 
  quietly creeping up on a dock, you know we've succeeded in our goal.
  </p>

  <p class="signature">
  Stand up and fish,
  </p>


  <div class="container text-center">
    <div class="row">
      <div class='col-sm'>
        <p>
          Joey - Engineering
          </br>
          </br>
          <img class="mugshot img-fluid" src="assets/images/Joey.jpg" />
          </br>
        </p>
      </div>
      <div class='col-sm'>
        <p>
          Tony - Business Operations
          </br>
          </br>
          <img class="mugshot img-fluid" src="assets/images/Tony.jpg" />
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm col-md-1">
        <img class="usa float-md-end" src="assets/images/usa.png" />
      </div>
      <div class="col-sm col-md-11">
        Bass Raft is proudly manufactured in the USA, in west central Wisonsin. 
        <br/>
        Each Bass Raft is hand crafted and precision tuned to be light and strong, ready for as many days on the water as you are. 
      </div>
      <p></p>
    </div>
  </div>

</div>
