<div class="fs-4 p-lg-5 p-4">
  <div class="row">
    <div class="col m-lg-5 mt-5">
      <p/>
        <h2>The Bass Raft Story</h2>
      <p>
        Bass Raft began as a casual Sunday conversation between my father and uncle, 
        exploring the ideas of crafting a composite fishing platform. This led to the development of the first
        Bass Raft prototype in July of 2021. We loved it!
      </p>

      <p>
        I was inspired to design and build a new Bass Raft for my high school senior project in May of 2022,
        culminating in the launch of my own business... Bass Raft in March of 2024. 
      </p>

      <p>
        Stand up and fish,
      </p>
    </div>
  </div>

  <div class="row">
    <div class='col-sm text-center'>
      <p>
        Joey
        </br>
        </br>
        <img class="mugshot img-fluid" src="/assets/images/Joey.jpg" />
        </br>
      </p>
    </div>

  <div class="row">
    <div class="col-sm col-md-1">
      <img class="usa float-md-end" src="/assets/images/usa.png" />
    </div>
    <div class="col-sm col-md-11">
      Bass Raft is proudly manufactured in the USA, in west central Wicsonsin. 
      <br/>
      Each Bass Raft is hand crafted and precision tuned to be light and strong, ready for as many days on the water as you are. 
    </div>
    <p></p>
  </div>
</div>
