<section class="page-section section-white">
  <div class="container-fluid">
    <div class="row">
      <div class="catalog-tile">
        <a href="raft-details.html">
          <img class="img-fluid" src="assets/images/catalog/bassraft1.jpg" />
          <p>
            Original Bass Raft
            <br/> 
            $2899
          </p>
        </a>
      </div>
      <div class="catalog-tile">
        <img class="img-fluid" src="assets/images/catalog/bassraft2.jpg" />
          <p>
            Bass Raft Pro
            <br/> 
            $3999
          </p>
      </div>
    </div>
  </div>
</section>
