<section class="top-section catalog-tile">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center">Bass Raft Original</h1>
      <div> Custom made to your specs.  </div>
      <div>Current lead time - 3 weeks.</div>
      <div>Pick your color and accessories to get started...</div>
      <img class="d-lg-none" src="/assets/images/catalog/bassraft-original-full-rear-lg.jpg" alt="you can buy this bass raft"/>
    </div>
  </div>
</section>

<!--Custom order-->
<!--Lead time is 3 weeks?-->

<!--Price-->

<!--Trolling motor mount options:-->
<!--- list the ones we support...-->
<!--- Minn kota-->
<!--- Motor guide-->
<!--- Rhodan-->
<!--- Transom mount-->
<!--- No mount-->
<!--specs listed for that on the website-->


<!--Shipping available...-->

<!--Other customizations:-->

<section class="text-center section-light">
  <div class="container mb-5 text-center">
    <div class="row">
      <div class="col">
        <p>Color Options</p>
      </div>
    </div>
    <div class="row mb-2">
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-silver-black-camo.jpg')">
          <span>Silver camo</span>
        </div>
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-blue-camo.jpg')">
          <span>Blue camo</span>
        </div>
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-green-camo.jpg')">
          <span>Green camo</span>
        </div>
    </div>
    <div class="row">
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-tan-camo.jpg')">
          <span>Tan camo</span>
        </div>
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-yellow-camo.jpg')">
          <span>Yello camo</span>
        </div>
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-red-camo.jpg')">
          <span>Red camo</span>
        </div>
    </div>
  </div>
</section>

<section class="text-center section-light">
  <div class="container mb-5 text-center">
    <div class="row">
      <div class="col">
        <p>Trolling motor mount options</p>
      </div>
    </div>
    <div class="row mb-2">
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-silver-black-camo.jpg')">
          <span>Motor Guide</span>
        </div>
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-blue-camo.jpg')">
          <span>Blue camo</span>
        </div>
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-green-camo.jpg')">
          <span>Green camo</span>
        </div>
    </div>
    <div class="row">
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-tan-camo.jpg')">
          <span>Tan camo</span>
        </div>
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-yellow-camo.jpg')">
          <span>Yello camo</span>
        </div>
        <div class="col color-choice-tile" style="background-image: url('assets/images/materials/bassraft-red-camo.jpg')">
          <span>Red camo</span>
        </div>
    </div>
  </div>
</section>
