<section class="top-section catalog-tile section-dark">
    <div class="col">
      <h1 class="text-center">Bass Raft Original</h1>
      <div class="fs-4 ps-lg-5">Custom made and handcrafted</div>
      <div class="fs-4 ps-lg-5">$5895.00</div>
      <img class="hide-large" src="/assets/images/catalog/bassraft-original-full-rear-lg.jpg" alt="you can buy this bass raft"/>
    </div>
</section>

<section class="text-center section-light specs">
  <div class="row">
    <div class="col-sm-9">
    </div>
    <div class="col-sm-3">
      <div><a href="https://bass-raft.helcim.app" class="btn btn-primary" role="button" target="_blank" rel="noopener noreferrer">Buy Now</a></div>
      <div>Free Shipping</div>
      <div>Current estimated lead time - 3 weeks</div>
      <div>You will be redirected to our secure</div>
      <div>payment site using Helcim.</div>
    </div>
  </div>
  <h4 class="mt-4 mb-3">Once your order is placed we'll contact you to get your choices on the options below.</h4>
  <div class="row">
    <div class="col-sm-4 text-start ps-lg-5 mt-3">
      <div class="fs-4">Specs</div>
      <div>Length: 8 ft</div>
      <div>Weight: 67 lbs</div>
      <div>Width (floats extended): 5 ft 8 in</div>
      <div>Width (floats collapsed): 3 ft</div>
      <div>Capacity: 550 lbs</div>
      <div>5 cubic feet of storage per float</div>
      <div>Materials: Kevlar, Carbon Fiber, Decorative Finish</div>
    </div>

    <div id="carouselExample" class="carousel slide col-sm-4 mt-3">
      <div class="fs-4">Sample Colors</div>
      <div class="carousel-inner">
        {% for m in site.data.materials %}
          <div class="text-center carousel-item {% if m.name == 'Silver camo' %}active{% endif %}">
            <img src="/assets/images/materials/{{ m.image }}" alt="{{ m.name }}">
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev gallery-item" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next gallery-item" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="col-sm-4 mt-3">
      <div class="fs-4">Supported Trolling Motor Brackets</div>
      <div>Motor Guide</div>
      <div>Minn Kota</div>
      <div>Rhodan</div>
      <div>Transom mount</div>
    </div>

  </div>
</section>

