<footer class="section-dark p-lg-5">
    <div class="col-6 justify-content-left">
      info@bassraft.com 
      <br/>
      715-530-2464
      <br/>
      Contact us to setup a demo!
    </div>
    <div class="col-6 text-end">
      <a href="privacy.html">
        Privacy Policy
      </a>
      {% include social_links.html %} 
    </div>

    <div class="col-12 justify-content-left">
        <p class="fs-6">
          <img class="usa" src="assets/images/usa.png" />
          Bass Raft is proudly manufactured in western Wisconsin, USA.
        </p>
    </div>
</footer>
