<footer class="section-dark p-lg-5">
    <div class="col-6 justify-content-left">
      info@bassraft.com 
      <br/>
      715-530-2464
      <br/>
      Call, text, or email and I can hook you up :)
    </div>
    <div class="col-6 text-end">
      <a href="/about.html">
        The Bass Raft Story
      </a>      
      <br/>
      {% include social_links.html %} 
      <br/>
      <a href="/privacy.html">
        Privacy Policy
      </a>
    </div>

    <div class="col-12 justify-content-left">
        <p class="fs-6">
          <img class="usa" src="/assets/images/usa.png" />
          Bass Raft is proudly manufactured in western Wisconsin, USA.
        </p>
    </div>
</footer>
