<footer class="border-top section-dark">
    <div class="container">
      <div class="row">
        <div class="col-6 justify-content-left">
          info@bassraft.com 
          <br/>
          715-530-2464
        </div>
        <div class="col-6 text-end">
          <a href="privacy.html">
            Privacy Policy
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 justify-content-left">
            <p class="fs-6">
              <img class="usa" src="assets/images/usa.png" />
              Bass Raft is proudly manufactured in western Wisconsin, USA.
            </p>
        </div>
      </div>
    </div>
</footer>
