<section class="page-section section-dark">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm gallery">
        <h2>Bass Raft Gallery</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm gallery">
        <p></p>
        <img class="img-fluid middle" src="assets/images/gallery/Townline1.jpg" />
      </div>
      <div class="col-sm gallery">
        <img class="img-fluid" src="assets/images/gallery/Townline2.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm gallery">
        <img class="img-fluid" src="assets/images/gallery/DellsMill1.jpg" />
      </div>
      <div class="col-sm gallery">
        <img class="img-fluid" src="assets/images/gallery/DellsMill2.jpg" />
      </div>
      <div class="col-sm gallery">
        <img class="img-fluid" src="assets/images/gallery/DellsMill3.jpg" />
      </div>
    </div>
  </div>
</section>
