<div class="video-container">
  <video autoplay muted loop playsinline class="video-hero" poster="assets/images/vids/hero-poster.jpg">
      <source src="assets/images/vids/hero-background-video.mp4" type="video/mp4">
      <source src="assets/images/vids/hero-background-video.webm" type="video/webm">
  </video>


  <div class="video-overlay-top">Bass Raft</div>
  <button type="button" class="video-learn-more-btn">Learn More</button>
  <div class="video-overlay-bottom">The standup fishing platform</div>

  <div class="video-overlay-top">Bass Raft</div>
  <button type="button" class="video-learn-more-btn">Learn More</button>
  <div class="video-overlay-bottom">The standup fishing platform</div>
</div>
