<div class="video-container">

  <video autoplay muted loop playsinline class="video-hero show-on-sm" poster="/assets/images/vids/hero-poster-sm.jpg">
      <source src="/assets/images/vids/hero-background-video-sm.mp4" type="video/mp4">
      <source src="/assets/images/vids/hero-background-video-sm.webm" type="video/webm">
  </video>

  <video autoplay muted loop playsinline class="video-hero show-on-md" poster="/assets/images/vids/hero-poster.jpg">
      <source src="/assets/images/vids/hero-background-video.mp4" type="video/mp4">
      <source src="/assets/images/vids/hero-background-video.webm" type="video/webm">
  </video>

  <div class="video-overlay-top">Bass Raft</div>
  <div class="video-overlay-bottom">A better fishing experience.</div>
  <div>
    <a href="/shop.html"><button type="button" class="video-learn-more-btn">Shop Now</button></a>
  </div>
</div>
