
<div class="row">
  <div class="col-md fs-5">
    <p class="ps-lg-5">
      <span class="fs-2">Features:</span>
      <br/><span class="checkmark">✓</span> 3 x 6 ft platform that makes "stand up and fish" happen
      <br/><span class="checkmark">✓</span> 5 1/2 x 8 ft float base... rock solid
      <br/><span class="checkmark">✓</span> Aerospace composites make it light and strong
      <br/><span class="checkmark">✓</span> Ultra-portable, weighing only 60 lbs
      <br/><span class="checkmark">✓</span> Floats fold in so you can store in your apartment or garage
      <br/><span class="checkmark">✓</span> Huge storage capacity in each float for rods, tackle, batteries, etc
      <br/><span class="checkmark">✓</span> 550 lb. weight capacity
      <br/><span class="checkmark">✓</span> Built-in trolling motor mount and rail/track accessories
    </p>
  </div>

  <div class="col-md waiting-list text-center">
    {% include components/contact_form.html %}
  </div>
</div>
