<section class="page-section section-light product-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
          <p>

            We are moving out of prototype and into production this Spring.

            Get on the waiting list

          </p>
      </div>
      <div class="col-sm">
        <p>Features:
          <br/>✓  3 x 6 foot platform for unparallelled standability
          <br/>✓  5 1/2 x 8 foot base for never fall out stability
          <br/>✓ Aerospace composite construction making it both light and strong
          <br/>✓ Ultra portable, around 50 lbs
          <br/>✓ The floats fold in for transport and storage
          <br/>✓ Huge storage capacity in each float for rods, tackle, batteries, etc
          <br/>✓ Trolling motor mount is built in. Transom mount or quick release bracket.
        </p>
      </div>
    </div>
  </div>
</section>
