<div class="row pt-3">
  <div class="col-sm text-center">
    <h1>
      Bass Raft
      <br/>
      Just... better.
    </h1>
  </div>
</div>
<!--<div class="row">-->
  <!--<div class="col-sm text-center">-->
      <!--<p class="col-sm">-->
        <!--Take kayak tournament fishing to the next level.-->
        <!--Bass Raft is the next generation in kayak tournament fishing.-->
        <!--A small footprint on the water, that fishes much bigger.-->
        <!--No more worries about falling out or tipping your kayal when you stand up. No more lost tackloe -->
        <!--Always stand up to fish, and have the bass boat type confidence.-->

      <!--</p>-->
  <!--</div>-->
  <!--<div class="col-sm text-center">-->
      <!--<p class="col-sm">-->
        <!--<button type="button" class="learn-more-btn">Learn More</button>-->
      <!--</p>-->
  <!--</div>-->
<!--</div>-->
