<div class="row pt-3 align-items-center">
  <div class="col-sm text-center">
    <h1>
      Bass Raft
      <br/>
      A better fishing experience for kayak anglers.
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <p class="fs-5">
      Bass Raft is in the spirit of traditional kayak fishing with its small footprint and light, 
      portable design but breaks the mold of fishing kayaks
      by removing the seat to make way for stand up fishing. In kayak tournaments, 
      if you are not standing up to fish, you are at a big disadvantage.
      Bass Raft takes away the question of when to stand up. Anytime you are fishing, you'll be standing. 
    </p>
  </div>
  <div class="col-md">
    <p class="fs-5">
      Picture a bass boat without a trolling motor. Nope. Bass Raft is the same way, you'll want a trolling motor on it. 
      But you can't paddle a bass boat. Bass Raft, however, paddles quite well 
      <span class="fs-6 fst-italic">(read that with a British accent).</span>
      Next, pick out your favorite sonar unit to go with the trolling motor and feel the freedom of leaving the seat behind. 
    </p>
  </div>
  <!--<div class="col-12 text-center">-->
    <!--<button type="button" class="learn-more-btn">Learn More</button>-->
  <!--</div>-->
</div>
