<section class="page-section section-white product-section">
  <div class="container-fluid justify-content-center">
    <div class="row">
      <div class="col text-center">
        <br/>
        <iframe class="video" src="https://www.youtube.com/embed/TcwYL1gtGfc?rel=0&si=Z5vRFzU_32Iq42zF" title="Bass Raft Product Video" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>


