
img.bassraft-logo {
  height: auto;
  width: 8em;
}

.section-dark {
  background-color: $gray-900;
  color: white;
}

.btn-primary {
  background-color: green;
  border-color: green;
  border-radius: 10px;
}
