
.video {
  width: 18em;
  height: 10em;
}

.signature {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

.br-notice {
  background: red;
}

.section-dark {
  background-color: $gray-900;
  color: $primary;
}

.section-light {
  background-color: $gray-300;
  color: black;
}

.section-white {
  background-color: white;
  color: black;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  border-radius: 10px;
}

.catalog-tile {
  @extend .col-sm;
  @extend .text-center;
  @extend .p-3;
}

img.mugshot {
  border-radius: 50%;
  max-width: 10em;
  height: auto;
}

img.usa {
  border-radius: 50%;
  max-width: 2em;
  height: auto;
}

.gallery {
  @extend .p-4;
  text-align: center;

  img {
    border-radius: 5px;
    width: 30em;
    height: auto;
  }

}

.waiting-list {
  margin: 0em;
  font-weight: bold;
}

.checkmark {
  color: green;
  font-weight: bold;
  @extend .fs-3;
}

// Desktop styling


@include media-breakpoint-up(lg) {

  .video {
    width: 1120px;
    height: 630px;
  }

  .waiting-list {
    margin: 5em;
  }

  img.mugshot {
    max-width: 15em;
  }

  .navbar-nav {
    text-align: top;
  }

  #catalog-carousel {
     width: 50%;
  }

}


