
.signature {
  font-size: 1.5em;
  font-weight: bold;
}

.br-notice {
  background: red;
}

img.bassraft-logo {
  height: auto;
  width: 8em;
}

.section-dark {
  background-color: $gray-900;
  color: white;
}

.section-light {
  background-color: $gray-300;
  color: black;
}

.section-white {
  background-color: white;
  color: black;
}

.btn-primary {
  background-color: green;
  border-color: green;
  border-radius: 10px;
}

.catalog-tile {
  @extend .col-sm;
  @extend .text-center;
  @extend .p-3;
}

img.mugshot {
  border-radius: 50%;
  max-width: 10em;
  height: auto;
}

img.usa {
  border-radius: 50%;
  max-width: 2em;
  height: auto;
}

// Desktop styling


@include media-breakpoint-up(lg) {

  img.bassraft-logo {
    height: auto;
    width: 15em;
  }

  img.mugshot {
    max-width: 15em;
  }

  .navbar-nav {
    text-align: top;
  }

  #catalog-carousel {
     width: 50%;
  }

}


