
.custom-bg {
  background-image: url('/assets/images/sections/bassraft-background.jpg');
}
 
.faq-question {
    font-size: 0.8em;
    cursor: pointer;
}

.faq-answer {
    font-size: 0.8em;
}

@include media-breakpoint-up(lg) {

  .faq-question {
      font-weight: bold;
      font-size: 1.0em;
      cursor: pointer;
      padding: 10px;
  }

  .faq-answer {
      font-size: 0.8em;
  }

}




