// 
// Global theme styling
// 

// Increase base font styling in the body only
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

// Set horizontal rule color to border color

hr {
    border-color: $border-color;
    opacity: 1;
}

// Set defaults for the paragraph element

p {
    margin: 2rem 0;
}

blockquote {
    font-style: italic;
    color: $gray-600;
}
