// 
// Global theme styling
// 

html, body {
    overflow-x: hidden;
    background-color: black;
}

.top-container {
    max-width: $max-screen-width;
}

hr {
    border-color: $border-color;
    opacity: 1;
}

p {
  margin: 2rem 0;
}

blockquote {
    font-style: italic;
    color: $gray-600;
}

.hide-small {
  @extend .d-none;
  @extend .d-lg-block;
}

.hide-large {
  @extend .d-lg-none;
}

// Hide the dumb recaptha badge
.grecaptcha-badge { 
    visibility: hidden !important;
}
