
.post {

  text-align: center;
  background-color: white;
   
  p {
    text-align: left;
    font-size: 0.75em;
  }

  .exerpt {
    background-color: white;
  }

  .post-image {
    max-height: 300px;
    max-width: 300px;
  }

  li {
    text-align: left;
    font-size: 0.85em;
    padding-left: 0; /* Removes default padding */
    padding-left: 30px; /* Space for the checkmark */
    margin-bottom: 1px; /* Space between list items */
  }


}


@include media-breakpoint-up(lg) {


  .post {
   
    .post-image {
      max-height: 300px;
      max-width: 500px;
    }

  }


}


