// 
// Navbar
// 

// Global styling for the navbar

#mainNav {
    background-color: $bass-raft-silver;
    font-family: $headings-font-family;

    .navbar-brand {
        font-size: 1.25em;
        font-weight: $headings-font-weight;
    }

    .navbar-toggler {
        font-size: 0.75rem;
        font-weight: $headings-font-weight;
        padding: 0.75rem;
    }

    .navbar-nav {
        >li.nav-item {
            >a.nav-link {
                font-size: 1.2em;
                font-weight: $headings-font-weight;
                letter-spacing: 0.0625em;
            }
        }
    }

    img.bassraft-logo {
      height: auto;
      width: 8em;
    }

    @include media-breakpoint-up(lg) {
        height: 3.5em;

        img.bassraft-logo {
          width: 12em;
        }
    }
    
}



