// 
// Navbar
// 

// Global styling for the navbar

#mainNav {
    z-index: $zindex-fixed;
    border-bottom: $border-width solid $border-color;
    background-color: $white;
    font-family: $headings-font-family;

    .navbar-brand {
        font-size: 1.50em;
        font-weight: $headings-font-weight;
    }

    .navbar-toggler {
        font-size: 0.75rem;
        font-weight: $headings-font-weight;
        padding: 0.75rem;
    }

    .navbar-nav {
        >li.nav-item {
            >a.nav-link {
                font-size: 1.00em;
                font-weight: $headings-font-weight;
                letter-spacing: 0.0625em;
            }
        }
    }
}
