<!DOCTYPE html>
<html lang="en-US">
  {% include head-custom.html %}
  <body>
      {% include navigation.html %}
      {% include components/section.html name="hero_section" css="masthead" section_style="dark" image="hero" %}
      {% include components/section.html name="product_intro" section_style="dark" %}
      {% include components/section.html name="stand_up_section" section_style="dark" image="BassRaftStandupSection" %}
      <!--{% include components/separator.html %}-->
      {% include components/section.html name="hook_set_section" section_style="dark" image="bass-raft-shore-dark" %}
      {% include components/section.html name="welcome_video" %}
      {% include components/section.html name="gallery" section_style="dark" %}
      {% include footer.html %}

      {% include components/bootstrap-js.html %}
  </body>

</html>

