<!DOCTYPE html>
<html lang="en-US">
  {% include head-custom.html %}
  <body>
      {% include navigation.html %}
      {% include components/section.html name="hero_section" css="masthead" section_style="dark" image="hero-bass-raft-stand-up-and-fish" %}
      {% include components/section.html name="product_intro" section_style="light" %}
      {% include components/section.html name="welcome_video" section_style="dark"%}
      {% include components/section.html name="gallery" section_style="light" %}
      {% include footer.html %}

      {% include components/bootstrap-js.html %}
  </body>

</html>

