
.specs {
    font-size: 1.0em;
}

.small-notice {
    font-size: 0.8em;
}

.color-choice-tile {
  background-position: top;
  background: no-repeat;
  background-size: contain;
  text-align: left;
  @extend .rounded-2;

    // smaller than large
    @include media-breakpoint-down(lg) {
      font-size: 0.9em;
      height: 100px;
    }

    //large and bigger
    @include media-breakpoint-up(lg) {
      font-size: 1.7em;
      height: 200px;
    }
}

.catalog-item {
  border-radius: 2%;
  max-width: 100%;
}

.catalog-tile {

    // smaller than large
    @include media-breakpoint-down(lg) {
      height: 70vh;
      text-align: center;

      img {
        width: auto;
        height: 45vh;
      }
    }

    // large and larger
    @include media-breakpoint-up(lg) {
      text-align: left;
      height: 90vh;
      background: no-repeat;
      background-position: top;
      background-size: cover;
      background-image: url('/assets/images/catalog/bassraft-original-full-rear-lg.jpg');
    }

    // extra small
    @include media-breakpoint-down(sm) { 
      img {
        height: 35vh;
      }
    }

}

