.masthead {
    margin-bottom: 0rem;
    padding-top: calc(4rem + 57px);
    padding-bottom: 0rem;

    background: no-repeat center;
    background-position: top;
    background-size: cover;

    h1 {
        font-size: 2em;
    }
    
    @include media-breakpoint-up(lg) {
        padding-top: 5em;
        padding-bottom: 0em;
        background-size: 100%;
        min-height: 80vh;
        
        h1 {
            font-size: 4em;
        }

    }
}
