
.top-section {
    margin-bottom: 0rem;
    padding-top: calc(1rem + 57px);
    padding-bottom: 0rem;
    color: $bass-raft-silver;
    font-size: .7em;

    h1 {
        font-size: 2.1em;
    }
    h2 {
        font-size: 1.8em;
    }      
    h3 {
        font-size: 1.0em;
    }      

    // small
    @include media-breakpoint-down(lg) {
      min-height: 70vh;
      h1 {
        font-size: 1.5em;
      }
      h2 {
          font-size: 1.2em;
      }
      h3 {
          font-size: 0.7em;
      }
    }

    //large
    @include media-breakpoint-up(lg) {
      min-height: 90vh;
    }
}



.masthead {
    @extend .top-section;

    background: no-repeat;
    background-position: top;
    background-size: cover;

    //small
    @include media-breakpoint-down(lg) {
      background-image: url('/assets/images/sections/hero-bass-raft-behind-silver-black-camo-sm.jpg');
    }

    //large
    @include media-breakpoint-up(lg) {
      background-image: url('/assets/images/sections/hero-bass-raft-sideways-silver-black-camo-lg.jpg');
    }

}
