
.page-section {
    padding-bottom: 1em;
    padding-top: 1em;

    background: no-repeat;
    background-position: center;
    background-size: 100%;


    @include media-breakpoint-up(lg) {
    }
}
